<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie.movie.mapper.GenresTopMovieMapper">
  <resultMap id="BaseResultMap" type="movie.movie.entity.GenresTopMovie">
    <result column="mid" jdbcType="INTEGER" property="mid" />
    <result column="vote_average" jdbcType="DOUBLE" property="voteAverage" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="movie.movie.entity.GenresTopMovie">
    <result column="genre" jdbcType="LONGVARCHAR" property="genre" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    mid, vote_average
  </sql>
  <sql id="Blob_Column_List">
    genre
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="movie.movie.entity.GenresTopMovieExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from genres_top_movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="movie.movie.entity.GenresTopMovieExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from genres_top_movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="movie.movie.entity.GenresTopMovieExample">
    delete from genres_top_movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="movie.movie.entity.GenresTopMovie">
    insert into genres_top_movie (mid, vote_average, genre
      )
    values (#{mid,jdbcType=INTEGER}, #{voteAverage,jdbcType=DOUBLE}, #{genre,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="movie.movie.entity.GenresTopMovie">
    insert into genres_top_movie
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        mid,
      </if>
      <if test="voteAverage != null">
        vote_average,
      </if>
      <if test="genre != null">
        genre,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mid != null">
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="voteAverage != null">
        #{voteAverage,jdbcType=DOUBLE},
      </if>
      <if test="genre != null">
        #{genre,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="movie.movie.entity.GenresTopMovieExample" resultType="java.lang.Long">
    select count(*) from genres_top_movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update genres_top_movie
    <set>
      <if test="row.mid != null">
        mid = #{row.mid,jdbcType=INTEGER},
      </if>
      <if test="row.voteAverage != null">
        vote_average = #{row.voteAverage,jdbcType=DOUBLE},
      </if>
      <if test="row.genre != null">
        genre = #{row.genre,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update genres_top_movie
    set mid = #{row.mid,jdbcType=INTEGER},
      vote_average = #{row.voteAverage,jdbcType=DOUBLE},
      genre = #{row.genre,jdbcType=LONGVARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update genres_top_movie
    set mid = #{row.mid,jdbcType=INTEGER},
      vote_average = #{row.voteAverage,jdbcType=DOUBLE}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>